.whats-showing-search {
  display: flex;
  flex-direction: row;
  padding: .5rem;
  color: #dadedf; }
  .whats-showing-search-sidebar {
    width: 30%;
    margin: 1rem 0;
    align-self: flex-start; }
    .whats-showing-search-sidebar .sidebar-title {
      width: 90%;
      height: 2rem;
      padding-bottom: .5rem;
      border-bottom: 1px solid #dadedf;
      margin-bottom: .5rem;
      font-weight: 600; }
    .whats-showing-search-sidebar .movies {
      display: flex;
      justify-content: space-between;
      width: 90%;
      cursor: pointer;
      padding: .5rem;
      margin-bottom: .5rem; }
    .whats-showing-search-sidebar .people {
      display: flex;
      justify-content: space-between;
      width: 90%;
      cursor: pointer;
      padding: .5rem; }
    .whats-showing-search-sidebar .people, .whats-showing-search-sidebar .movies {
      color: #a7b0b2; }
    .whats-showing-search-sidebar .people.active, .whats-showing-search-sidebar .movies.active {
      color: #dadedf; }
    .whats-showing-search-sidebar .result-count {
      color: #DD523C; }
    .whats-showing-search-sidebar .active {
      background: #181818;
      font-weight: 600; }
  .whats-showing-search-results {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 1rem 0; }
    .whats-showing-search-results .result-header {
      font-size: 1rem;
      padding-bottom: .5rem;
      width: 100%;
      height: 2rem;
      border-bottom: 1px solid #dadedf;
      color: #a7b0b2; }
    .whats-showing-search-results .search-string {
      color: #DD523C; }
    .whats-showing-search-results .result-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      margin-top: 1rem; }
      .whats-showing-search-results .result-container .no-content {
        display: flex;
        align-items: center;
        width: 100%;
        height: 200px;
        background: #181818; }
        .whats-showing-search-results .result-container .no-content p {
          text-align: center;
          width: 100%; }
    .whats-showing-search-results .credit-poster {
      display: block;
      width: 25%;
      padding: 0 .5rem 0 .5rem;
      margin-bottom: .5rem;
      color: #131516;
      border-radius: 10px; }
    .whats-showing-search-results .credit-title {
      position: absolute;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: .5rem; }
    .whats-showing-search-results .credit-profile {
      display: flex;
      align-items: center;
      width: 50%;
      padding: .5rem 0; }
    .whats-showing-search-results .name {
      font-size: 1.2rem;
      margin-left: .5rem;
      color: #dadedf; }
    .whats-showing-search-results .profile-image-container {
      display: block;
      width: 33.33%; }
    .whats-showing-search-results .profile-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      border: 1px solid #181818;
      background: #181818; }
    .whats-showing-search-results .intrinsic {
      display: block;
      position: relative;
      height: 0;
      width: 100%;
      padding-top: 100%;
      background: #181818;
      border-radius: .5rem; }
      .whats-showing-search-results .intrinsic.intrinsic--2x3 {
        padding-top: 150%; }

@media only screen and (max-width: 992px) {
  .whats-showing-search {
    flex-direction: column; }
    .whats-showing-search-sidebar {
      width: 100%; }
      .whats-showing-search-sidebar .sidebar-title, .whats-showing-search-sidebar .movies, .whats-showing-search-sidebar .people {
        width: 100%; }
    .whats-showing-search-results {
      width: 100%; }
      .whats-showing-search-results .credit-poster {
        width: 25%; } }

@media only screen and (max-width: 768px) {
  .whats-showing-search {
    flex-direction: column;
    width: 100%; }
    .whats-showing-search-results .credit-poster {
      width: 25%;
      padding: .25rem .25rem 0; } }

@media only screen and (max-width: 480px) {
  .whats-showing-search {
    flex-direction: column;
    width: 100%; } }
