@import '../../config.scss';

.whats-showing-search {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    color: $color-gray-200;
    &-sidebar {
        width: 30%;
        margin: 1rem 0;
        align-self: flex-start;
        .sidebar-title {
            width: 90%;
            height: 2rem;
            padding-bottom: .5rem;
            border-bottom: 1px solid $color-gray-200;
            margin-bottom: .5rem;
            font-weight: 600;
        }
        .movies {
            display: flex;
            justify-content: space-between;
            width: 90%;
            cursor: pointer;
            padding: .5rem;
            margin-bottom: .5rem;
        }
        .people {
            display: flex;
            justify-content: space-between;
            width: 90%;
            cursor: pointer;
            padding: .5rem;
        }
        .people,.movies {
            color: $color-gray-400;
        }
        .people.active, .movies.active {
            color: $color-gray-200;
        }
        .result-title {

        }

        .result-count {
            color: $color-theme-5;
        }
        .active {
            background: $color-theme-6;
            font-weight: 600;
        }
    }
    &-results {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 1rem 0;

        .result-header {
            font-size: 1rem;
            padding-bottom: .5rem;
            width: 100%;
            height: 2rem;
            border-bottom: 1px solid $color-gray-200;
            color: $color-gray-400;
        }
        .search-string {
            color: $color-theme-5;
        }
        .result-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            margin-top: 1rem;
            .no-content {
                display: flex;
                align-items: center;
                width: 100%;
                height: 200px;
                background: $color-theme-6;
                p {
                    text-align: center;
                    width: 100%;
                }
            }
        }
        .credit-poster {
            display: block;
            width: 25%;
            padding: 0 .5rem 0 .5rem;
            margin-bottom: .5rem;
            color: $color-gray-900;
            border-radius: 10px;
        }
        .credit-title {
            position: absolute;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: .5rem;
        }
        .credit-profile {
            display: flex;
            align-items: center;
            width: 50%;
            //border-bottom: .25px solid $color-gray-200;
            padding: .5rem 0;
        }
        .name {
            font-size: 1.2rem;
            margin-left: .5rem;
            color: $color-gray-200;
        }
        .profile-image-container {
            display: block;
            width: 33.33%;
        }
        .profile-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            border: 1px solid $color-theme-6;
            background: $color-theme-6;
        }

        .placeholder {
            //opacity: 0.4;
        }
        .intrinsic {

            // Make sure <picture> wrapper is set to block
            // Max-width is governed by parentNode
            display: block;
        
            // Intrinsic Ratio Box
            position: relative;
            height: 0;
            width: 100%;
            padding-top: 100%; // Default to square
        
            // Custom Styling
            background: $color-theme-6;
            border-radius: .5rem;
            //border: 1px solid $color-theme-6;
        
            // Add as many ratios as you'd like...
            &.intrinsic--2x3 {
                padding-top: 150%;
            }
        }
    }
}

@media only screen and (max-width : 992px) {
    .whats-showing-search {
        flex-direction: column;
        &-sidebar {
            width: 100%;
            .sidebar-title, .movies, .people {
                width: 100%;
            }
        }
        &-results {
            width: 100%;
            .result-container {
            }
            .credit-poster {
                width: 25%;
            }
        }
    }
}

@media only screen and (max-width : 768px) {
    .whats-showing-search {
        flex-direction: column;
        width: 100%;
        &-results {
            .result-container {

            }
            .credit-poster {
                width: 25%;
                padding: .25rem .25rem 0;
            }
        }
    }
}

@media only screen and (max-width : 480px) {
    .whats-showing-search {
        flex-direction: column;
        width: 100%;
    }
}