@import '../../config.scss';

.whats-showing-movie {
    color: $color-gray-200;
    &-details {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 0 .5rem;
        min-height: 100%;
        width: 100%;
        .column-left {
            display: flex;
            flex-direction: column;
            position: relative;
            flex: 0 0 250px;
            order: -1;
            .movie-side-bar {
                display: flex;
                flex-direction: column;
                position: fixed;
                margin: 0;
                width: 250px;
                .credit-poster {
                    width: 80%;
                }
                .details {
                    width: 80%;
                    margin-top: 1rem;
                    .title {
                        font-size: 1.7rem;
                        font-weight: 600;
                    }
                    .genres {
                        display: flex;
                        flex-wrap: wrap;
                    }
                    .genre-item {
                        font-size: .8rem;
                        padding: .5rem;
                        color: $color-theme-5;
                        background: $color-theme-6;
                        margin-right: .5rem;
                        margin-top: .5rem;
                        border-radius: 5px;
                    }
                    .status-info {
                        flex-wrap: wrap;
                        margin-top: .5rem;
                    }

                    .status {
                        margin-right: 1rem;
                        font-weight: 400;
                    }

                    .release-date {
                        color: $color-gray-400;
                    }

                    .ant-btn.trailer {
                        color: $color-gray-200;
                        background: $color-theme-6;
                        margin-top: 1rem;
                    }
                }
            }
        }
        .column-right {
            display: flex;
            flex-direction: column;
            position: relative;
            width: calc(100% - 250px);
        }
    }
}

@media only screen and (max-width : 992px) {
    .whats-showing-movie {
        &-details {
            flex-direction: column;
            width: 100%;
            .column-left {
                flex-direction: row;
                flex: none;
                width: 100%;
                .movie-side-bar {
                    flex-direction: row;
                    align-items: center;
                    position: relative;
                    margin: 0;
                    margin-bottom: 1rem;
                    width: 100%;
                    height: 300px;
                    .credit-poster {
                        width: 30%;
                    }
                    .details {
                        .genres {
                            margin-left: 1rem;
                        }
                        .title {
                            margin-left: 1rem;
                            text-align: left;
                        }
                        .status-info {
                            margin-top: 1rem;
                            margin-left: 1rem;
                        }
                    }
                }
            }
            .column-right {
                width: 100%;
                margin: 0;
                padding: 0;
            }
        }
    }
}

@media only screen and (max-width : 768px) {
    .whats-showing-movie {
        &-details {
            flex-direction: column;
            width: 100%;
            padding: 0 .75rem;
            .column-left {
                width: 100%;
                .movie-side-bar {
                    flex-direction: row;
                    position: relative;
                    .credit-poster {

                    }
                    .details {
                        margin: 0;
                        .title , .ant-btn.trailer, .genre {
                            margin-left: 1rem;
                        }

                    }
                }
            }
            .column-right {
                width: 100%;
                margin: 0;
                padding: 0;
            }
        }
    }
}

@media only screen and (max-width : 480px) {
    .whats-showing-movie {
        &-details {
            flex-direction: column;
            width: 100%;
            .column-left {
                width: 100%;
                .movie-side-bar {
                    flex-direction: row;
                    position: relative; 
                    height: 250px; 
                    .credit-poster {
                        width: 40%
                    }
                    .details {
                        .title {
                            margin-left: 1rem;
                        }
                    }
                }
            }
            .column-right {
                width: 100%;
                margin: 0;
                padding: 0;
            }
        }
    }
}