.whats-showing-movie {
  color: #dadedf; }
  .whats-showing-movie-details {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0 .5rem;
    min-height: 100%;
    width: 100%; }
    .whats-showing-movie-details .column-left {
      display: flex;
      flex-direction: column;
      position: relative;
      flex: 0 0 250px;
      order: -1; }
      .whats-showing-movie-details .column-left .movie-side-bar {
        display: flex;
        flex-direction: column;
        position: fixed;
        margin: 0;
        width: 250px; }
        .whats-showing-movie-details .column-left .movie-side-bar .credit-poster {
          width: 80%; }
        .whats-showing-movie-details .column-left .movie-side-bar .details {
          width: 80%;
          margin-top: 1rem; }
          .whats-showing-movie-details .column-left .movie-side-bar .details .title {
            font-size: 1.7rem;
            font-weight: 600; }
          .whats-showing-movie-details .column-left .movie-side-bar .details .genres {
            display: flex;
            flex-wrap: wrap; }
          .whats-showing-movie-details .column-left .movie-side-bar .details .genre-item {
            font-size: .8rem;
            padding: .5rem;
            color: #DD523C;
            background: #181818;
            margin-right: .5rem;
            margin-top: .5rem;
            border-radius: 5px; }
          .whats-showing-movie-details .column-left .movie-side-bar .details .status-info {
            flex-wrap: wrap;
            margin-top: .5rem; }
          .whats-showing-movie-details .column-left .movie-side-bar .details .status {
            margin-right: 1rem;
            font-weight: 400; }
          .whats-showing-movie-details .column-left .movie-side-bar .details .release-date {
            color: #a7b0b2; }
          .whats-showing-movie-details .column-left .movie-side-bar .details .ant-btn.trailer {
            color: #dadedf;
            background: #181818;
            margin-top: 1rem; }
    .whats-showing-movie-details .column-right {
      display: flex;
      flex-direction: column;
      position: relative;
      width: calc(100% - 250px); }

@media only screen and (max-width: 992px) {
  .whats-showing-movie-details {
    flex-direction: column;
    width: 100%; }
    .whats-showing-movie-details .column-left {
      flex-direction: row;
      flex: none;
      width: 100%; }
      .whats-showing-movie-details .column-left .movie-side-bar {
        flex-direction: row;
        align-items: center;
        position: relative;
        margin: 0;
        margin-bottom: 1rem;
        width: 100%;
        height: 300px; }
        .whats-showing-movie-details .column-left .movie-side-bar .credit-poster {
          width: 30%; }
        .whats-showing-movie-details .column-left .movie-side-bar .details .genres {
          margin-left: 1rem; }
        .whats-showing-movie-details .column-left .movie-side-bar .details .title {
          margin-left: 1rem;
          text-align: left; }
        .whats-showing-movie-details .column-left .movie-side-bar .details .status-info {
          margin-top: 1rem;
          margin-left: 1rem; }
    .whats-showing-movie-details .column-right {
      width: 100%;
      margin: 0;
      padding: 0; } }

@media only screen and (max-width: 768px) {
  .whats-showing-movie-details {
    flex-direction: column;
    width: 100%;
    padding: 0 .75rem; }
    .whats-showing-movie-details .column-left {
      width: 100%; }
      .whats-showing-movie-details .column-left .movie-side-bar {
        flex-direction: row;
        position: relative; }
        .whats-showing-movie-details .column-left .movie-side-bar .details {
          margin: 0; }
          .whats-showing-movie-details .column-left .movie-side-bar .details .title, .whats-showing-movie-details .column-left .movie-side-bar .details .ant-btn.trailer, .whats-showing-movie-details .column-left .movie-side-bar .details .genre {
            margin-left: 1rem; }
    .whats-showing-movie-details .column-right {
      width: 100%;
      margin: 0;
      padding: 0; } }

@media only screen and (max-width: 480px) {
  .whats-showing-movie-details {
    flex-direction: column;
    width: 100%; }
    .whats-showing-movie-details .column-left {
      width: 100%; }
      .whats-showing-movie-details .column-left .movie-side-bar {
        flex-direction: row;
        position: relative;
        height: 250px; }
        .whats-showing-movie-details .column-left .movie-side-bar .credit-poster {
          width: 40%; }
        .whats-showing-movie-details .column-left .movie-side-bar .details .title {
          margin-left: 1rem; }
    .whats-showing-movie-details .column-right {
      width: 100%;
      margin: 0;
      padding: 0; } }
