.credit-filter-title {
  font-size: 1.2rem;
  font-weight: 200;
  margin: 0;
  margin-bottom: .5rem; }
  .credit-filter-title .name {
    font-size: 1.2rem;
    font-weight: 600; }

.credit-filter .credit-filter-column {
  display: flex; }
  .credit-filter .credit-filter-column > :last-child {
    margin-right: 0 !important; }

.credit-filter .year-selector .ant-radio-button-wrapper {
  width: 10%;
  background: black;
  color: #dadedf; }

.credit-filter .year-selector .ant-radio-button-wrapper-checked {
  background: #a7b0b2;
  color: #DD523C;
  border: 1px solid #DD523C; }

.ant-select-dropdown-menu-item {
  background: black;
  color: #dadedf; }
  .ant-select-dropdown-menu-item:hover {
    color: #DD523C; }

@media only screen and (max-width: 768px) {
  .credit-filter .year-selector .ant-radio-button-wrapper {
    width: 20%;
    margin: 0; }
  .credit-filter-title {
    margin-top: 1rem; } }
