@import '../../../config.scss';

.whats-showing-profile-credits {
    .poster-image {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 1.5px solid $color-theme-6;
        background: $color-theme-6
    }
    .credit {
        padding: .5rem .5rem;
    }
    .credit-placeholder {
        background: $color-theme-6;
    }
}
