.whats-showing-profile-credits .poster-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1.5px solid #293237;
  background: #293237; }

.whats-showing-profile-credits .credit {
  padding: .5rem .5rem; }

.whats-showing-profile-credits .credit-placeholder {
  background: #293237; }
