.whats-showing-pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  width: 100%;
  font-size: 200;
  margin-top: 1rem; }
  .whats-showing-pager .prev, .whats-showing-pager .more {
    background: #293237;
    color: #fff; }
