@import '../../config.scss';

.whats-showing-find-movies {
    color: $color-gray-200;
    &-title-container {
        width: 100%;
        padding: 1rem .5rem 0 .5rem;
        .section-title {
            text-transform: uppercase;
            font-size: 1.5rem;
            color: $color-gray-200;
            margin: 0;
        }
    }
    &-results {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 .5rem;
        .poster-image {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border: 1.5px solid $color-theme-6;
            background: $color-theme-6
        }
        .credit {
            padding: .5rem .5rem;
        }
        .credit-placeholder {
            background: $color-theme-6;
        }
        .result-filter {
            display: flex;
            margin-top: .5rem;
        }
    }
}


@media only screen and (max-width : 768px) {
    .whats-showing-find-movies {
        &-results {
            
        }
    }
}

@media only screen and (max-width : 480px) {
    .whats-showing-find-movies {
        &-results {
            .result-filter {
                > :last-child {
                    margin-right: 0 !important;
                }
            }
            .credit {
                padding: .25rem .25rem;
            }
        }
    }
}