@import '../../config.scss';

.whats-showing-find-movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 .5rem;
    padding-top: 4rem;
    color: $color-gray-200;
    &-results {
        width: 1000px;
        .result-items {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: 0 -8px;
        }
        .credit-poster {
            display: block;
            width: 20%;
            padding: 0 8px 8px;
            color: $color-gray-900;
            background: transparent;
            border-radius: 10px;
        }
        .result-filter {
            width: 100%;
            margin-bottom: .5rem;
            margin-left: -6px;
            margin-right: -6px;
            .sort-filter {
                background: transparent;
                color: $color-gray-200;
                width: 33.33%;
                padding: .5rem 6px .5rem;
                .ant-select-selection--single {
                    background: $color-theme-6;
                    .ant-select-arrow {
                        color: $color-gray-200;
                    }
                }
            }
        }
    }
}

.ant-select-dropdown-menu-item {
    background: $color-theme-6;
    color: $color-gray-200;
    &:hover {
        color: $color-theme-5;
    }
}

@media only screen and (max-width : 992px) {
    .whats-showing-find-movies {
        &-results {
            width: 768px;
            .result-items {
                margin: 0 -8px;
            }
            .credit-poster {
                width: 25%;
                padding: 0 8px 5px;
            }
        }
    }
}

@media only screen and (max-width : 768px) {
    .whats-showing-find-movies {
        &-results {
            width: 100%;
            .result-items {
                margin: 0 -8px;
            }
            .credit-poster {
                width: 25%;
                padding: 0 8px 5px;
            }
        }
    }
}

@media only screen and (max-width : 480px) {
    .whats-showing-find-movies {
        &-results {
            .result-items {
                margin: 0 -6px;
            }
            .credit-poster {
                width: 33.33%;
                padding: 0 6px 5px;
            }
        }
    }
}