@import '../../config.scss';

.whats-showing-find-movies {
    color: $color-gray-200;
    &-title-container {
        width: 100%;
        padding: 1rem .5rem 0 .5rem;
        .section-title {
            text-transform: uppercase;
            font-size: 1.5rem;
            color: $color-gray-200;
            margin: 0;
        }
    }
    &-results {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 .5rem;
        .result-items {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -.5rem;
        }
        .credit-poster {
            display: block;
            width: 20%;
            padding: .5rem .5rem 0;
            color: $color-gray-900;
            background: transparent;
            border-radius: 10px;
        }
        .result-filter {
            display: flex;
            margin-top: .5rem;
        }


    }
}


@media only screen and (max-width : 992px) {
    .whats-showing-find-movies {
        &-results {
            .credit-poster {
                width: 25%;
            }
        }
    }
}

@media only screen and (max-width : 768px) {
    .whats-showing-find-movies {
        &-results {
            .result-items {
                margin: 0 -.25rem;
            }
            .credit-poster {
                width: 25%;
            }
        }
    }
}

@media only screen and (max-width : 480px) {
    .whats-showing-find-movies {
        &-results {
            .result-filter {
                > :last-child {
                    margin-right: 0 !important;
                }
            }
            .credit-poster {
                padding: .25rem .25rem 0;
            }
        }
    }
}