@import '../../../config.scss';

.whats-showing-movie-media {
    margin: 0;
    margin-bottom: 1rem;
    color: $color-gray-200;
    .media-header {
        margin-bottom: 1rem;
    }
    .media-title {
        margin: 0;
        padding: 0 0 1rem 0;
        font-size: 1.5rem;
        color: $color-gray-200;
    }

    .no-media {
        display: flex;
        padding-bottom: 1rem;
        transition: width .15s, opacity .15s linear;
        .media-default {
            height: 350px;
            display: flex;
            align-items: center;
            width: 100%;
            background: $color-theme-6;
            p {
                text-align: center;
                width:100%;
            }
        }
    }

    .media-container {
        display: flex;
        padding-bottom: 1rem;
        opacity: 0;
        opacity: 1;
        visibility: visible;
        height: 100%;

        &.images {
            flex-wrap: wrap;
        }
          
        .intrinsic {
            display: block;
            position: relative;
            height: 0;
            width: 100%;
            padding-top: 100%;
            background: $color-theme-6;
            border-radius: .5rem;
            &.intrinsic--2x3 {
                padding-top: 56%;
            }
        }

        .video-item {
            display: block;
            position: relative;
            width: 80%;
            margin: .5rem;
        }

        .image-item { 
            display: block;
            position: relative;
            width: 25%;
            margin: 0;
            padding: .5rem .5rem 0 0;
        }

        .video, .poster {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .video {
            width: 100%;
            height: 100%;
        }
        .poster {
            width: 100%;
            cursor: zoom-in;
        }
        .video, .poster {
            background: $color-theme-6;
        }
    }

    .ant-carousel .slick-initialized .slick-slide {
        display: flex;
    }

    .ant-carousel .slick-dots {
        bottom: -7px;
        margin-bottom: 1rem;
    }

    .slick-track {
        display: flex !important;
        overflow: hidden;
    }

    .ant-carousel .slick-prev {
        left: -15px;
    }

    .ant-carousel .slick-next {
        right: -18px;
    }

    i.anticon.anticon-right,
    i.anticon.anticon-left {
        color: $color-gray-200;
    }
}

@media only screen and (max-width : 768px) {
    .whats-showing-movie-media {
        .media-container {
            .image-item { 
                // width: 25%;
                // margin: 0;
                // padding: .5rem .5rem 0;
            }
        }
    }
}
