.whats-showing-movie-media {
  margin: 0;
  margin-bottom: 1rem;
  color: #dadedf; }
  .whats-showing-movie-media .media-header {
    margin-bottom: 1rem; }
  .whats-showing-movie-media .media-title {
    margin: 0;
    padding: 0 0 1rem 0;
    font-size: 1.5rem;
    color: #dadedf;
    font-weight: 600; }
  .whats-showing-movie-media .no-media {
    display: flex;
    padding-bottom: 1rem;
    transition: width .15s, opacity .15s linear; }
    .whats-showing-movie-media .no-media .media-default {
      height: 350px;
      display: flex;
      align-items: center;
      width: 100%;
      background: #181818; }
      .whats-showing-movie-media .no-media .media-default p {
        text-align: center;
        width: 100%; }
  .whats-showing-movie-media .media-container {
    display: flex;
    padding-bottom: 1rem;
    opacity: 1;
    height: 100%; }
    .whats-showing-movie-media .media-container.images {
      flex-wrap: wrap; }
    .whats-showing-movie-media .media-container .intrinsic {
      display: block;
      position: relative;
      height: 0;
      width: 100%;
      padding-top: 100%;
      background: #181818;
      border-radius: .5rem; }
      .whats-showing-movie-media .media-container .intrinsic.intrinsic--2x3 {
        padding-top: 56%; }
    .whats-showing-movie-media .media-container .video-item {
      display: block;
      position: relative;
      width: 80%;
      margin: .5rem; }
    .whats-showing-movie-media .media-container .image-item {
      display: block;
      position: relative;
      width: 25%;
      margin: 0;
      padding: .5rem .5rem 0 0; }
    .whats-showing-movie-media .media-container .video, .whats-showing-movie-media .media-container .poster {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .whats-showing-movie-media .media-container .video {
      width: 100%;
      height: 100%; }
    .whats-showing-movie-media .media-container .poster {
      width: 100%;
      cursor: zoom-in; }
    .whats-showing-movie-media .media-container .video, .whats-showing-movie-media .media-container .poster {
      background: #181818; }
  .whats-showing-movie-media .ant-carousel .slick-initialized .slick-slide {
    display: flex; }
  .whats-showing-movie-media .ant-carousel .slick-dots {
    bottom: -7px;
    margin-bottom: 1rem; }
  .whats-showing-movie-media .slick-track {
    display: flex !important;
    overflow: hidden; }
  .whats-showing-movie-media .ant-carousel .slick-prev {
    left: -15px; }
  .whats-showing-movie-media .ant-carousel .slick-next {
    right: -18px; }
  .whats-showing-movie-media i.anticon.anticon-right-circle,
  .whats-showing-movie-media i.anticon.anticon-left-circle {
    color: #dadedf; }
