.whats-showing-movie-overview {
  display: flex;
  flex-direction: column;
  margin: 0 0;
  color: #dadedf; }
  .whats-showing-movie-overview .overview {
    display: flex;
    flex-direction: column;
    font-weight: 200; }
  .whats-showing-movie-overview .tagline {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: #DD523C;
    text-transform: uppercase; }
  .whats-showing-movie-overview .detail-container {
    display: flex;
    width: 100%;
    padding-top: 1rem;
    font-weight: 200; }
    .whats-showing-movie-overview .detail-container .title {
      width: 30%; }
    .whats-showing-movie-overview .detail-container .detail-parent {
      display: flex;
      flex-wrap: wrap;
      width: 70%; }
    .whats-showing-movie-overview .detail-container .detail {
      margin-right: .5rem;
      margin-left: .5rem;
      color: #dadedf;
      background: black;
      font-size: 1rem;
      padding: .5rem;
      border-radius: 5px; }
