@import '../../../config.scss';

.whats-showing-movie-overview {
    display: flex;
    flex-direction: column;
    margin: 0 0;
    color: $color-gray-200;
    .overview {
        display: flex;
        flex-direction: column;
        font-weight: 200;
    }

    .tagline {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: .5rem;
        color: $color-theme-5;
        text-transform: uppercase;
    }
    .detail-container {
        display: flex;
        width: 100%;
        padding-top: 1rem;
        font-weight: 200;
        .title {
            width: 30%;
        }
        .detail-parent {
            display: flex;
            flex-wrap: wrap;
            width: 70%;
        }
        .detail {
            margin-right: .5rem;
            margin-left: .5rem;
            color: $color-gray-200;
            background: $color-theme-6;
            font-size: 1rem;
            padding: .5rem;
            border-radius: 5px;
        }
    }
}