$color-gray-100: #f2f3f4;
$color-gray-200: #dadedf;
$color-gray-300: #c1c7c9;
$color-gray-400: #a7b0b2;
$color-gray-500: #9c979A;
$color-gray-600: #707c80;
$color-gray-700: #555f61;
$color-gray-800: #373d3f;
$color-gray-900: #131516;

$color-theme-1: #e27d60;
$color-theme-2: #e8a87c;
$color-theme-3: #95cbc9;
$color-theme-4: #bb8f9d;
$color-theme-5: #DD523C;
$color-theme-6: #181818;
$color-theme-7: #282828;
