.whats-showing-movie-casting {
  margin: .5rem 0 2rem 0;
  color: #dadedf; }
  .whats-showing-movie-casting .casting-title {
    margin: 0;
    padding: .5rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: #dadedf; }
  .whats-showing-movie-casting .casting-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: .5rem; }
    .whats-showing-movie-casting .casting-items .casting-item {
      display: flex;
      align-items: center;
      color: #dadedf;
      margin: 0;
      padding: .5rem .5rem 1rem 0;
      width: 50%; }
      .whats-showing-movie-casting .casting-items .casting-item:hover {
        background: black; }
    .whats-showing-movie-casting .casting-items .casting-person-image {
      width: 92px;
      height: 92px;
      color: #dadedf;
      background: black;
      border: 2px solid black;
      border-radius: 50%; }
    .whats-showing-movie-casting .casting-items .casting-info {
      display: flex;
      align-items: center;
      padding: .5rem; }
    .whats-showing-movie-casting .casting-items .casting-name {
      font-weight: 500;
      font-size: 1.3rem;
      color: #f2f3f4; }
    .whats-showing-movie-casting .casting-items .character {
      font-size: 1rem;
      color: #c1c7c9; }

@media only screen and (max-width: 480px) {
  .whats-showing-movie-casting .casting-items {
    flex-wrap: none;
    flex-direction: column; }
    .whats-showing-movie-casting .casting-items .casting-item {
      width: 100%; }
    .whats-showing-movie-casting .casting-items .casting-name {
      font-weight: 500;
      font-size: 1.1rem;
      color: #f2f3f4; }
    .whats-showing-movie-casting .casting-items .character {
      text-align: center;
      font-size: .8rem;
      color: #c1c7c9; }
    .whats-showing-movie-casting .casting-items .casting-person-image {
      width: 45px;
      height: 45px; } }
