@import '../../../config.scss';

$casting-width: 92px;
$casting-width-small: 45px;

.whats-showing-movie-casting {
    margin: .5rem 0 2rem 0;
    color: $color-gray-200;
    .casting-title {
        margin: 0;
        padding: .5rem 0 1rem 0;
        font-size: 1.5rem;
        font-weight: 500;
        color: $color-gray-200;
    }

    .casting-items {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        padding-bottom: .5rem;
        .casting-item {
            display: flex;
            align-items: center;
            color: $color-gray-200;
            margin: 0;
            padding: .5rem .5rem 1rem 0;
            width: 50%;

            &:hover {
                background: $color-theme-6;
            }
        }

        .casting-person-image {
            width: $casting-width;
            height: $casting-width;
            color: $color-gray-200;
            background: $color-theme-6;
            border: 2px solid $color-theme-6;
            border-radius: 50%;
        }

        .casting-info {
            display: flex;
            align-items: center;
            padding: .5rem;
        }
        .casting-name {
            font-weight: 500;
            font-size: 1.3rem;
            color: $color-gray-100;
        }

        .character {
            font-size: 1rem;
            color: $color-gray-300;
        }
    }
}

@media only screen and (max-width : 480px) {
    .whats-showing-movie-casting {
        .casting-items {
            flex-wrap: none;
            flex-direction: column;
            .casting-item {
                width: 100%
            }

            .casting-name {
                font-weight: 500;
                font-size: 1.1rem;
                color: $color-gray-100;
            }
    
            .character {
                text-align: center;
                font-size: .8rem;
                color: $color-gray-300;
            }
            .casting-person-image {
                width: $casting-width-small;
                height: $casting-width-small;
            }
        }
    }
}