@import '../../config.scss';

.whats-showing-modal {
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 100;
    &.open {
        visibility: visible;
    }
    .whats-showing-modal-content {
        width: 80%;
        z-index: 10;
        .media-container {
            display: flex;
            padding-bottom: 1rem;
            opacity: 1;
            height: 100%;
    
            &.images, &.videos {
                flex-wrap: wrap;
            }
              
            .intrinsic {
                display: block;
                position: relative;
                height: 0;
                width: 100%;
                padding-top: 100%;
                background: $color-theme-6;
                border-radius: .5rem;
                &.intrinsic--2x3 {
                    padding-top: 56%;
                }
            }
    
            .image-item, .video-item { 
                display: block;
                position: relative;
                width: 100%;
                margin: 0;
                padding: .5rem .5rem 0 0;
            }
    
            .poster, .video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $color-theme-6;
                width: 100%;
                cursor: zoom-out;
            }
        }
        .ant-carousel .slick-initialized .slick-slide {
            display: flex;
        }
    
        .ant-carousel .slick-dots {
            bottom: -7px;
        }
    
        .slick-track {
            display: flex !important;
            overflow: hidden;
        }
    
        .ant-carousel .slick-prev {
            left: -30x;
        }
    
        .ant-carousel .slick-next {
            right: -30px;
        }
    
        i.anticon.anticon-right-circle,
        i.anticon.anticon-left-circle {
            color: $color-gray-200;
        }
    }
    i.anticon.anticon-close.close-icon {
        position: fixed;
        top: 0;
        right: 0;
        font-size: 2rem;
        padding: 1rem;
        color: #fff;
        cursor: pointer;
    }
    .whats-showing-modal-background {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: black;
        opacity: 0.5;
        z-index: 5;
        overflow: hidden;
    }
}